<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @feedback.author %>
</p>

<p>
  <strong>Message:</strong>
  <%= @feedback.message %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
